.input {
  border: none;
  border-bottom: 2px solid #305077;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #305077;
  padding: 10px;
  width: 100%;
}

.error {
  color: #AD413E;
  font-weight: bold;
}
