.card {
  background-color: white;
  border-radius: 30px;
  padding: 34px;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 80px;
}

.card:hover {
  border: 2px solid #3f6449;
  cursor: pointer;
}

.cardImg {
  object-fit: cover;
  width: 100px;
  height: 100%;
  margin-right: 18px;
}

.cardContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.cardTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;

  color: #3f6449;
  margin-bottom: 8px;
}

.informationItemsList {
  list-style: none;
  padding: 0;
}

.informationItem {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.informationIcon {
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

.informationText {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #305077;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.link {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.info {
  margin: 0;
  width: 100%;
  text-align: center;
  border: 2px solid #305077;
  border-radius: 10px;
  margin-bottom: 8px;
}
