.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: #305077;
  z-index: 1;
}

.headerContent {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: space-between;
  align-items: center;
  align-content: center;
  color: white;
  min-height: 50px;
}

.headerText {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  margin: 0;
}
