.button {
  width: 100%;
  min-height: 44px;
  border: none;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 16px;
}

.button:hover {
  font-weight: 800;
}

.button:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.red {
  background-color: #ad413e;
}

.red:hover {
  background-color: #7d2b28;
}

.green {
  background-color: #3f6449;
}

.green:hover {
  background-color: #304f38;
}

.blue {
  background-color: #305077;
}
.blue:hover {
  background-color: #253d5c;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.link:hover {
  color: #ffffff;
  text-decoration: none;
}