.list {
  display: flex;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  li {
    display: flex;
    align-items: flex-end;
    }

}

.link {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.host {
  margin: 0;
}
