.input {
  width: 350px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #305077;
  padding: 24px 16px;
  margin-bottom: 20px;
  min-width: 350px;
  border-radius: 100px;
  border: none;
}

.error {
  color: #AD413E;
  font-weight: bold;
}
