.text {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #305077;
    align-content: center;
    text-align: center;
}

.content {
    margin-bottom: 200px;
    align-content: center;
}