.gameEventDashboard {
  padding-top: 100px;
  padding-bottom: 100px;
}

.topMenu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: #3f6449;
}
