.error {
  color: #AD413E;
  font-weight: bold;
}

.datePicker {
  border: none;
  border-bottom: 2px solid #305077;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #305077;
}