﻿img[alt="Swagger UI"] {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: url('/assets/logo.png');
    width: 100%;
    max-height: 100%;
}

.swagger-ui .topbar {
    background-color: #1F1F1F;
}

.swagger-ui .info .title {
    color: #AD413E;
}

.swagger-ui .info .title small.version-stamp {
    background-color: #3F6449;
}

.swagger-ui .info .title small {
    background: #305077;
}







