.footer {
  background-color: #d9d9d9;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.svg:hover path{
  fill: #863331;
}

.svg:active path{
  fill: #AD413E;
}

.footerButtonsList {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

.footerButton {
  cursor: pointer;
}

.active svg path {
  fill: #863331;
}