.tabs {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  gap: 0.5%;
}

.tab:first-child{
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}


.tab:last-child{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

.tab {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #305077;
  height: 44px;
  border: none;
  background: white;
}

.active {
  color: white;
  background: #3F6449;
}
