.title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: #3f6449;
  margin-bottom: 0;
}

.topMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.informationItem {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding-top: 40px;
}

.informationIcon {
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

.informationIcon path {
  fill: #3f6449;
}

.informationText {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #3f6449;
}