.card {
  background-color: white;
  border-radius: 30px;
  padding: 34px;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.cardTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 127.02%;
  color: #3f6449;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #3f6449;
  width: 66%;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

.cardImg {
  object-fit: cover;
  width: 100px;
  height: 100%;
  margin-right: 18px;
}

.cardContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.informationItemsList {
  list-style: none;
  padding: 0;
}

.informationItem {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.informationIcon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.informationText {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #305077;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: stretch;
  justify-items: stretch;
  justify-self: stretch;
  gap: 8px;
  flex-wrap: wrap;
}
