* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee !important;
  height: 1vh !important;
  width: 100% !important;
  overflow-x: hidden !important;
  overflow-y: auto;
}

ul {
  list-style: none;
  padding: 0;
}

#root {
  width: 100% !important;
}