.login {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #305077;
}

.input {
  width: 350px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #305077;
  padding: 24px 16px;
  margin-bottom: 20px;
  min-width: 350px;
  border-radius: 100px;
  border: none;
}

.forgotPasswordLink {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3f6449;
  margin-bottom: 16px;
  align-content: center;
  justify-content: center;
}

.noAccountText {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #305077;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.registrationLink {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3f6449;
  padding-left: 5px;
  margin: 0;
}

.link:hover {
  color: #61a373;
}

.error {
  color: #AD413E;
  font-weight: bold;
}